html 	{
	margin: 0;
	padding: 0;
		}

body	{
	font-family: Arial;
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	color: #343434;
	text-align: center;
	margin: 0;
	padding: 0;
		}
		
a 		{
	text-decoration: none;
		}

.hide-this-on-desktop {
    display: none;
}

#ideasshowcase {			
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
	height: auto;
    background-color: #f3f3f3;
	margin-left: auto;
	margin-right: auto;
		}

/* Off-canvas navigation:

#wrapper	{
	position: relative;
	margin: 0;
	padding: 0;
		}

#navigation-small {
    display: none;
}

#trigger {
    display: none;
}

.domain::before {
    content: "\0040";
}

*/

/* Contactbar */		
		
#contactbar {
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
	text-align: left;
		}

#writeme { 
	float: right;
	margin-right: 40px;
		}

#writeme a {
   	display: block;
   	text-indent: -2000px;
   	width: 340px;
   	height: 40px;
   	background: 0 0 no-repeat;
   	margin: 0;
   	padding: 0;
		}

#writeme a {
	text-decoration: none;
	outline: none;
	background-image: url(emailbutton.png);
		}

#writeme a:hover {
   	background-position: -340px 0;
		}

/* About Me */
				
#header {
	width: auto;
	max-width: 1100px;
	text-align: center;
	font-size: 14px;
	line-height: 140%;
	font-weight: normal;
	color: #343434;
	background-color: #f3f3f3;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 60px;
	padding-right: 40px;
	padding-bottom: 40px;
	padding-left: 40px;
		}
		
#profilepic {
	display: inline-block;
		}
		
#infobox {
	display: inline-block;
	max-width: 600px;
	padding-right: 40px;
	padding-left: 40px;
		}

#title-headline {
    font-size: 70px;
}

#title-text {
    font-size: 28px;
}

#title-subline {
    font-size: 70px;
}

#letmeshowyou-arrow {	
	width: 0px;
	height: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 40px;
	margin-left: auto;
	border-top: 40px solid #f3f3f3;				/* Arrow Height */
	border-right: 50px solid transparent;		/* Arrow Width and Symmetry */
	border-bottom: none;						
	border-left: 50px solid transparent;		/* Arrow Width and Symmetry */
	opacity: 1;	
		}

/* Project Headlines and Explainers */

.project-headline {
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    line-height: 100%;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    max-width: 900px;
}

.headline-explainer {
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
		}

.explainer {	
	display: inline-block;	
	width: auto;
	max-width: 600px;
	height: auto;
	color: #343434;
	padding: 10px 30px 10px 30px;
	margin-top: 20px;
	margin-bottom: 40px;
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.85);
		}

.explainer2 {	
	display: inline-block;	
	width: auto;
	max-width: 600px;
	height: auto;
	color: white;
	padding: 10px 30px 10px 30px;
	margin-top: 20px;
	margin-bottom: 40px;
	border-radius: 8px;
	background-color: rgba(210, 0, 0, 0.9);
		}

.cr-explainer {
    display: inline-block;
    max-width: 300px;
    padding: 40px 30px 40px 30px;
    margin-top: 20px;
	margin-bottom: 40px;
    color: #484848;
    background-color: #ffffa5;
    border-top: 50px solid #f8e196;
}
		
.explainer a:link {	
	font-weight: normal;
	color: #343434;
	text-decoration: none;
		}
		
.explainer a:visited {	
	font-weight: normal;
	color: #343434;
	text-decoration: none;
		}
		
.explainer a:hover {	
	font-weight: normal;
	color: #343434;
	text-decoration: underline;
		}
		
.explainer a:active {	
	font-weight: normal;
	color: #343434;
	text-decoration: none;
		}

/* High Street Hostel Edinburgh */

#hsh-map-mobile {
    display: none;
}

#hsh-map-desktop {
    display: inline-block;
}

#highstreethostel-header {			
	padding: 0px 0px 60px 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: white;
	background-color: rgba(210, 0, 0, 0.9);
		}
		
#highstreethostel-arrow {	
	width: 0px;
	height: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 40px;
	margin-left: auto;
	border-top: 40px solid #d20000;				/* Arrow Height */
	border-right: 50px solid transparent;		/* Arrow Width and Symmetry */
	border-bottom: none;						
	border-left: 50px solid transparent;		/* Arrow Width and Symmetry */
	opacity: 0.9;	
		}

#highstreethostel {			
	width: 100%;
	height: auto;
	padding-bottom: 50px;			
	background: #eee6cb url() no-repeat bottom center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
		}

/* Transformer Business Card */

#transformer-bc-header {			
	padding: 60px 0px 60px 0px;
	margin-top:0px;
	margin-bottom:0px;
	color: white;
	background-color: rgba(210, 0, 0, 1);
		}
		
#transformer-bc-arrow {	
	width: 0px;
	height: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 40px;
	margin-left: auto;
	border-top: 40px solid #d20000;				/* Arrow Height */
	border-right: 50px solid transparent;		/* Arrow Width and Symmetry */
	border-bottom: none;						
	border-left: 50px solid transparent;		/* Arrow Width and Symmetry */
	opacity: 1;	
		}

#transformer-bc-content {
    margin-top: 140px;
    margin-bottom: 140px;
}

#transformer-bc {			
	width: 100%;
	height: auto;
	padding-bottom: 50px;			
	background: #dadada url() no-repeat top center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
		}

/* Castle Rock Edinburgh */

#castlerock-header {			
	padding: 60px 0px 60px 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: white;
	background-color: rgba(210, 0, 0, 0.9);
		}
		
#castlerock-arrow {	
	width: 0px;
	height: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 40px;
	margin-left: auto;
	border-top: 40px solid #d20000;				/* Arrow Height */
	border-right: 50px solid transparent;		/* Arrow Width and Symmetry */
	border-bottom: none;						
	border-left: 50px solid transparent;		/* Arrow Width and Symmetry */
	opacity: 0.9;	
		}

#castlerock {			
	width: 100%;
	height: auto;
	padding-bottom: 50px;			
	background: #eee6cb url() no-repeat bottom center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
		}

/* Mood Connection */

#moodconnection-header {			
	padding: 60px 0px 60px 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: white;
	background-color: rgba(210, 0, 0, 0.9);
		}
		
#moodconnection-arrow {	
	width: 0px;
	height: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 40px;
	margin-left: auto;
	border-top: 40px solid #d20000;				/* Arrow Height */
	border-right: 50px solid transparent;		/* Arrow Width and Symmetry */
	border-bottom: none;						
	border-left: 50px solid transparent;		/* Arrow Width and Symmetry */
	opacity: 0.9;	
		}

#moodconnection {			
	width: 100%;
	height: auto;
	padding-bottom: 50px;			
	background: #ffdd00 url() no-repeat bottom center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
		}

/* Ali Willmore */

#aliwillmore-header {			
	padding: 60px 0px 60px 0px;
	margin-top:0px;
	margin-bottom:0px;
	color: white;
	background-color: rgba(255, 255, 255, 1);
		}
		
#aliwillmore-arrow {	
	width: 0px;
	height: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 40px;
	margin-left: auto;
	border-top: 40px solid white;				/* Arrow Height */
	border-right: 50px solid transparent;		/* Arrow Width and Symmetry */
	border-bottom: none;						
	border-left: 50px solid transparent;		/* Arrow Width and Symmetry */
	opacity: 1;	
		}

#aliwillmore-content {
    margin-top: 140px;
    margin-bottom: 140px;
}

#aliwillmore {			
	width: 100%;
	height: auto;
	padding-bottom: 50px;			
	background-color: #dadada;
		}

/* Laptop Voucher */

#laptopvoucher-header {			
	padding: 60px 0px 60px 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: rgba(210, 0, 0, 0.8);
		}
		
#laptopvoucher-arrow {	
	width: 0px;
	height: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 40px;
	margin-left: auto;
	border-top: 40px solid #d20000;				/* Arrow Height */
	border-right: 50px solid transparent;		/* Arrow Width and Symmetry */
	border-bottom: none;						
	border-left: 50px solid transparent;		/* Arrow Width and Symmetry */
	opacity: 0.8;	
		}

#laptopvoucher {			
	width: 100%;
	height: auto;
	padding-bottom: 50px;
	background-color: #f3f3f3;
		}

/* Call to Action */

#call-to-action {
    display: none;
}

/* Footer */
	
#footer {
	font-family: Arial;
	font-weight: normal;
	font-size: 14px;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #d20000;
		}
		
#footer a:link {
	font-weight: normal;
    color: white;
    text-decoration: none;
		}

#footer a:visited {
	font-weight: normal;
    color: white;
    text-decoration: none;
		}

#footer a:hover {
	font-weight: normal;
    color: white;
    text-decoration: underline;
		}

#footer a:active {
	font-weight: normal;
    color: white;
    text-decoration: none;
		}