.hide-this-on-mobile {
    display: none;
}

.hide-this-on-desktop {
    display: inline-block;
}

body, html, #ideasshowcase, #wrapper {
    background-color: #e6e7e8;
}

#contactbar {
    display: none;
}

/* Off-canvas navigation: 

.scroll-no {
    height: 100vh;
    overflow: hidden;
}

 #menu {
    z-index: 2;
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 100%;
    transition: right 0.4s ease-in-out;
    -webkit-transition: right 0.4s ease-in-out;
    -moz-transition: right 0.4s ease-in-out;
    -ms-transition: right 0.4s ease-in-out;
    -o-transition: right 0.4s ease-in-out;
    background-color: #d20000;
    padding-top: 50px;
    overflow: auto;
} 
    
.menu-show {
    right: 0px;
} 
    
.menu-hide {
    right: -100%;
}
    
.menu-icon-show {
    background: #d20000 url('menu-icon-show.svg') center center no-repeat;
    background-size: 25px;
}
    
.menu-icon-hide {
    background: #d20000 url('menu-icon-hide.svg') center center no-repeat;
    background-size: 25px;
}

#navigation-small {
    display: block;
}

#trigger {
    display: block;
    z-index: 999;
    position: absolute; 
    top: 0;
    right: 0;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

*/

#header {
    padding-top: 0px;
    padding-bottom: 60px;
    background-color: #e6e7e8;
}

#letmeshowyou-arrow {	
	border-top: 40px solid #e6e7e8;	
		}

#profilepic {
    display: none;
}

#infobox { 
    max-width: 100%;
    font-size: 16px;
    line-height: 120%;
    padding: 0px;
  }

#title-headline {
    font-size: 20px;
}

#title-text {
    font-size: 20px;
}

#title-subline {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

.project-headline {
    font-size: 20px;
    max-width: 90%;
}

.headline-explainer { 
    max-width: 100%;
    padding-right: 40px;
	padding-left: 40px;
  }

.explainer { 
    max-width: 100%;
    margin-right: 40px;
	margin-left: 40px;
  }

.explainer2 { 
    max-width: 100%;
    margin-right: 40px;
	margin-left: 40px;
  }

.cr-explainer {
    max-width: 70%;
    padding: 20px 30px 20px 30px;
    margin-top: 20px;
	margin-bottom: 20px;
    border-top: 40px solid #f8e196;
}

#letmeshowyou-arrow {	
	margin-bottom: 20px;
		}

/* Fix images on mobile devices */

img { 
    width: 90%;
  }

/* High Street Hostel Edinburgh */

#hsh-map-desktop {
    display: none;
}

#hsh-map-mobile {
    display: inline-block;
}

#highstreethostel-header {			
	padding: 0px 0px 20px 0px;
    background-color: rgba(210, 0, 0, 0.9);
		}
		
#highstreethostel-arrow {	
	margin-bottom: 20px;	
		}

#highstreethostel {			
	padding-bottom: 40px;
		}

/* Transformer Business card */

#transformer-bc-header {			
	padding: 40px 0px 20px 0px;
    background-color: rgba(210, 0, 0, 0.9);
		}

#transformer-bc-content {
    margin-top: 0px;
    margin-bottom: 0px;
}
		
#transformer-bc-arrow {	
	margin-bottom: 20px;	
		}

#transformer-bc {			
	padding-bottom: 40px;
		}

/* Castle Rock Edinburgh */

#castlerock-header, #castlerock-arrow, #castlerock {			
	display: none;
		}

/* Mood Connection */

#moodconnection-header, #moodconnection-arrow, #moodconnection {			
	display: none;
		}

/* Ali Willmore */

#aliwillmore-header {			
	padding: 40px 0px 20px 0px;
		}

#aliwillmore-content {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Laptop Voucher */

#laptopvoucher-header {			
	padding: 40px 0px 20px 0px;
    background-color: rgba(210, 0, 0, 0.9);
    opacity: 0.9;
		}
		
#laptopvoucher-arrow {	
	margin-bottom: 20px;	
		}

#laptopvoucher {			
	padding-bottom: 20px;
		}

/* Call to Action */

#call-to-action {
    display: inline-block;
    width: 80%;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: #d20000;
    padding: 10px;
    border-radius: 8px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
}

#call-to-action a, #call-to-action a:active, #call-to-action a:visited, #call-to-action:hover {
    color: white;
}

/* Footer */
	
#footer {
	font-family: Arial;
	font-weight: normal;
	font-size: 14px;
	color: white;
	padding-top: 20px;
    padding-right: 10px;
	padding-bottom: 60px;
    padding-left: 10px;
	background-color: #d20000;
		}